<section class="card" aria-labelledby="skills-title">
    <header class="card-header entry-editable">
      <h2 id="skills-title" class="title">Skills</h2>
        <button class="edit-btn" aria-label="Edit experience">
          ✎
        </button>
    </header>
    <div class="card-body">
      <div class="skills">
        <span class="chip">Angular</span>
        <span class="chip">TypeScript</span>
        <span class="chip">Spring Boot</span>
        <span class="chip">PostgreSQL</span>
      </div>
      <details class="show-more details-inline">
        <div class="card-body">
          <div class="skills">
            <span class="chip">PrimeNG</span>
            <span class="chip">JWT</span>
            <span class="chip">REST APIs</span>
            <span class="chip">Docker</span>
            <span class="chip">Git</span>
            <span class="chip">CI/CD</span>
          </div>
        </div>
        <summary><span class="label-more">Show all skills(10)</span><span class="label-less">Show less</span></summary>

      </details>
    </div>
  </section>
