<section class="card" aria-labelledby="edu-title">
    <header class="card-header">
      <h2 id="edu-title" class="title">Education</h2>
     
    </header>
    <div class="card-body entry-editable">
      <div class="item">
        <button class="edit-btn" aria-label="Edit experience">
          ✎
        </button>
        <div class="bullet" aria-hidden="true"></div>
        <div class="meta">
          <div class="entry-title">University of Minnesota</div>
          <div class="entry-sub">B.S. (in progress) – Computer Science</div>
          <div class="entry-time">2023 – Present</div>
        </div>
      </div>
      <div class="item entry-editable">
        <button class="edit-btn" aria-label="Edit experience">
          ✎
        </button>
        <div class="bullet" aria-hidden="true"></div>
        <div class="meta">
          <div class="entry-title">Coursera</div>
          <div class="entry-sub">Professional Certificates</div>
          <div class="entry-time">2021</div>
        </div>
      </div>
      <details class="show-more details-inline">
        <div class="card-body">
          <div class="item entry-editable">
            <button class="edit-btn" aria-label="Edit experience">
              ✎
            </button>
            <div class="bullet" aria-hidden="true"></div>
            <div class="meta">
              <div class="entry-title">Community College</div>
              <div class="entry-sub">A.A. – Liberal Arts</div>
              <div class="entry-time">2019 – 2021</div>
            </div>
          </div>
        </div>
        <summary><span class="label-more">Show all education(3)</span><span class="label-less">Show less</span></summary>
      </details>
    </div>
  </section>
