.main-container{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.sign-form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-form-container p{
    padding: 5px;
}

form{
    display: flex;
    flex-direction: column;
    width: 60%;
}

/* form{
    display: flex;
    flex-direction: column;
} */

form label{
    font-weight: bold;
    
    
}


button{
   font-weight: bold;
   padding: 13px 10px;
   width: 70%;
   margin-top: 10px;
   margin-left: 15%;
  border: none;

}


input{
    width: 100%;
    margin: 10px 0;
    padding: 12px;
}

h1{
    font-size: 50px;
    margin-bottom: 5px;
}

h3{

    margin-top: 10px;
    margin-bottom: 30px;
}


.logo-container{
    width: 100%;
    background-color:bisque;
}

img{
    width: 100%;
    object-fit: contain;
}