.main-container{
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow-y: hidden;
    background-color: white !important;
}

.sign-form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-form-container p{
    padding: 5px;
}

form{
    display: flex;
    flex-direction: column;
    width: 60%;
}

/* form{
    display: flex;
    flex-direction: column;
} */

form label{
    font-weight:600;
    font-size: 15px;
}

.div-input-label{
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

button{
   font-weight: bold;
   padding: 13px 10px;
   width: 70%;
   margin-top: 10px;
   margin-left: 15%;
  border: none;
  background-color: #0073b1;
   color: white;

}

button:hover{
background-color: #0073b1 !important;
}

.password-input{
    width: 100%;
    margin: 10px 0;
    background-color: white !important;
    color: black;
    box-shadow: var(--shadow);
}

input{
    width: 100%;
    margin: 8px 0;
    padding: 12px;
    background-color: white;
    color: black;
    box-shadow: var(--shadow);
}

input:focus{
    border-color:#0073b1 !important;
    outline: none;
}

h1{
    font-size: 30px;
    margin-bottom: 5px;
}

h3{
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 20px;
}


.logo-container{
    width: 100%;
    background-color:bisque;
}

img{
    width: 100%;
    object-fit: contain;
}

a{
    align-items: center; 
    justify-content: center;
    color: #0073b1;
    
}