/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
   */
  body {
    overflow-y:auto;
  }
  
  .container {
    display: flex;
  }
  
  /* Sidebar */
  .sidebar {
    /* flex: 0 0 250px; */
    background-color: #fff;
    padding: 10px 20px;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    position: fixed;
    top: 50px;
    bottom: 0;
    width: 230px;
   
  }

  .upper-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }

  .upper-links h3{
    margin: 5px 0px;
  }

  .upper-links p{
    margin: 0;
    font-size: 14px;
  
  }
  
  .profile-img {
    width: 90px;         /* Set your desired size */
    height: 90px;
    border-radius: 50%;   /* Makes it circular */
    object-fit: cover;    /* Ensures the image fills the circle without distortion */
    display: block;
  }
  
  
  .sidebar-links {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 14px;
  }
  
  .sidebar-links a, .bottom-links a {
    text-decoration: none;
    display: flex;
    color: #333;
    font-weight: 500;
    gap: 10px;
    padding: 7px 0px;
  }

  .sidebar-links a:hover, .bottom-links a:hover{
    background-color: #f2f2f2;
    border-radius: 3px;
  }
  
  .bottom-links {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: auto;
    font-size: 14px;
  }



  /* Main Content */
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding:0px 300px;
    padding-top: 60px;
  }
  
  /* Create Post */
  .create-post {
    background-color: #fff;
    padding: 15px 20px;
    margin: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
  }
  
  .mini-profile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  
  .create-post input {
    flex: 1;
    padding: 10px 10px;
    border-radius: 15px;
    font-size: 14px;
    border: 1.2px solid rgb(70, 82, 112);
    outline: none;
    box-shadow: none;
    background-color: transparent;
    color: black;
  }
  
  .create-post button {
    padding: 10px 20px;
    border: none;
    background-color:var(--primary);
    color: white;
    border-radius: 15px;
    font-size: 14px;
    cursor: pointer;
  }
  
  /* Posts */
  .post-feed {
    padding: 0 20px 40px;
    font-size: 14px;
  }
  
  .post-feed span{
    font-size: 14px;
  }
  .post-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 15px 20px;
    margin-top: 15px;
  }
  
  .post-header {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 5px;
  }

  .post-header img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  
  .post-header span {
    margin-left: auto;
    color: var(--muted);
  }
  
  .post-text {
    /* margin: 10px 0; */
    padding: 5px 5px;
  }
  
  .post-image {
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
  }
  
  .post-actions {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .post-actions button {
    background-color: white;
    display: flex;
    gap: 8px;
    color: black;
    border: none;
    cursor: pointer;
    font-weight: 500;
    padding: 8px 10px;
    font-size: 14px;
  }

  .post-actions button:hover{
    background-color: rgb(236, 236, 236);
    border-radius: 6px;
  }
  