
  <div class="container">
 
    <!-- Sidebar -->
    <aside class="sidebar">
      <div class="upper-links" (click)="redirectToProfilePage()">
      <img  
        [src]="profilePic || 'assets/images/default-avatar.jpg'"
      alt="profile" class="profile-img"/>
      
      <h3>{{currentUser?.firstName}} {{currentUser?.lastName}}</h3>
      <p class="headline">{{currentUser?.headline}}</p>
      <hr style="width: 100%; margin-top: 8px;border: 0.5px solid rgb(184, 184, 184);">
    </div>
    
      <nav class="sidebar-links">
        <a href="/home"><i class="fas fa-home"></i> <span>Home</span> </a>
        <a  ><i class="fas fa-users"></i> <span>My Networks</span></a>
        <a ><i class="fas fa-envelope"></i> <span>Messages</span></a>
      </nav>
   
    
      <div class="bottom-links">
        <a> <i class="fas fa-gear"></i> <span>Settings</span></a>
        <a href="#" (click)="handleLogOut()"><i class="fas fa-arrow-right-from-bracket" ></i><span>Log Out</span></a>
      </div>
    </aside>

    <!-- Main Content -->
    <main class="main-content">

  <app-post></app-post>

         </main>
  </div>

