<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>ProNet</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
</head> -->
<body>
     <!-- Header -->
    <header class="header">
        <!-- <div class="logo-container">
<img src="assets/images/ProNet-logo.png" alt="ProNet Logo" class="logo"/>

      </div> -->
      <div class="pronet-logo">
        <span class="pro">Pro</span><span class="net">Net</span>
      </div>
      <div class="search-bar-container">
        <input type="text" placeholder="search..." class="search-bar"/>
        <nav class="header-icons">
          <a class="nav-item">
            <i class="fas fa-home"></i>
            <span>Home</span>
          </a>
          <a class="nav-item">
            <i class="fas fa-envelope"></i>
            <span>Messages</span>
          </a>
          <a class="nav-item">
            <i class="fas fa-users"></i>
            <span>My Networks</span>
          </a>
          <a class="nav-item">
            <i class="fas fa-bell"></i>
            <span>Notifications</span>
          </a>
          <a class="nav-item">
            <i class="fas fa-user-circle"></i>
            <span>My Account</span>
          </a>
        </nav>
      </div>
      </header>
  <div class="container">
 
    <!-- Sidebar -->
    <aside class="sidebar">
      <div class="upper-links">
      <img src="assets/images/profile-pic.jpg" alt="profile" class="profile-img"/>
      <h3>UMER ABUBEKER</h3>
      <p>Software Engineer || Soccer Player || AI</p>
      <hr style="width: 100%; margin-top: 8px;border: 1px solid rgb(184, 184, 184);">
    </div>
    
      <nav class="sidebar-links">
        <a href="#"><i class="fas fa-home"></i> <span>Home</span> </a>
        <a href="#"><i class="fas fa-users"></i> <span>My Networks</span></a>
        <a href="#"><i class="fas fa-envelope"></i> <span>Messages</span></a>
      </nav>
   
    
      <div class="bottom-links">
        <a href="#"> <i class="fas fa-gear"></i> <span>Settings</span></a>
        <a href="#"><i class="fas fa-arrow-right-from-bracket"></i><span>Log Out</span></a>
      </div>
    </aside>

    <!-- Main Content -->
    <main class="main-content">
   


      <!-- Create Post -->
      <section class="create-post">
        <img src="assets/images/profile-pic.jpg" alt="mini-profile" class="mini-profile"/>
        <input type="text" placeholder="Start a post.." />
        <button>Post</button>
      </section>

      <!-- Posts -->
      <section class="post-feed">
        <!-- Repeat this block for each post -->
        <div class="post-card">
          <div class="post-header">
            <img src="assets/images/profile-pic.jpg"  />
            <div>
              <strong>Umer Abubeker</strong>
              <p>Software Engineer</p>
            </div>
            <span>3h</span>
          </div>
          <p class="post-text">Cat having a better sleep than most of people😹😹</p>
          <img src="assets/images/cat1.png" alt="Post image" class="post-image"/>
          <hr style="width: 100%; margin-top: 8px;border: 1px solid black;">
          <div class="post-actions">
            <button><i class="fas fa-thumbs-up"></i> <span>Like</span></button>
            <button><i class="fas fa-comment"></i><span>Comment</span> </button>
            <button><i class="fas fa-share"></i> <span>Share</span></button>
          </div>
        </div>

        <!-- Add more posts here if needed -->
      </section>


      <section class="post-feed">
        <!-- Repeat this block for each post -->
        <div class="post-card">
          <div class="post-header">
            <img src="assets/images/profile-pic.jpg"  />
            <div>
              <strong>Umer Abubeker</strong>
              <p>Software Engineer</p>
            </div>
            <span>3h</span>
          </div>
          <p class="post-text">Best looking man alive...LOL..JK😂</p>
          <img src="assets/images/profile-pic.jpg" alt="Post image" class="post-image"/>
          <hr style="width: 100%; margin-top: 8px;border: 1px solid black;">
          <div class="post-actions">
            <button><i class="fas fa-thumbs-up"></i><span>Like</span></button>
            <button><i class="fas fa-comment"></i><span>Comment</span></button>
            <button><i class="fas fa-share"></i><span>Share</span></button>
          </div>
        </div>

        <!-- Add more posts here if needed -->
      </section>
    </main>
  </div>
</body>
<!-- </html> -->
