name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]  # run CI when code pushed to main
  pull_request:
    branches: [ "main" ]  # run CI for all PRs to main

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: gradle

      - name: Grant execute permission for Gradle
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew clean build --no-daemon

      - name: Run Tests
        run: ./gradlew test --no-daemon

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: springboot-app
          path: build/libs/*.jar
